.page {
    height: 100%;
    margin: 5em auto;
    width: 800px;
}

.todo-item {
    color: #484848
}

h1 {
    text-align: center;
    color: #671b96;
}

hr {
    color: #D3D3D3
}

.btn {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
}

.check-box {
    margin: 5px;
    cursor: pointer;
}

.completed-todos * {
    text-decoration: line-through;
    color: #808080;
}

.todo-row * {
    display: inline-block;
}

input.todo {
    border: 0px solid;
    width: 95%;
    background-color: transparent;
    text-decoration: inherit;
}

input.todo:hover {
    outline: none;
    background-color: #e6e6e6;
}

input.todo:focus {
    outline: none;
    background-color: #d3d3d3;
}

.delete-btn {
    opacity: .3;
    cursor: pointer;
}

.delete-btn:hover {
    opacity: .7;
}
