
/*----- common start -----*/
.page {
    height: 100%;
    margin: 5em auto;
    width: 800px;
}

.lists-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: #671b96;
}

hr {
    color: #D3D3D3
}

.sign-out-panel {
    text-align: center;
}

/*----- common end -------*/

/*----- todo-panel start -*/
.list-box {
    border: 1px solid #0f0f0f;
    margin: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 3px;
    background-color: #f1f3f4;
}

.todo-item {
    color: #484848
}



.check-box {
    margin: 5px;
    cursor: pointer;
}

.completed-todos * {
    text-decoration: line-through;
    color: #808080;
}

.todo-row * {
    display: inline-block;
}

input.todo {
    border: 0px solid;
    width: 95%;
    background-color: transparent;
    text-decoration: inherit;
}

input.todo:hover {
    outline: none;
    background-color: #e6e6e6;
}

input.todo:focus {
    outline: none;
    background-color: #d3d3d3;
}

.delete-btn {
    opacity: .3;
    cursor: pointer;
}

.delete-btn:hover {
    opacity: .7;
}
